@model StudentSpan.ViewModels.StudentViewModel

@{ ViewData["Title"] = "Comment";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>
    @Html.DisplayFor(model => model.LastName)
</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Student" asp-action="CreateComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CommentText" class="control-label"></label>
                <input asp-for="CommentText" class="form-control" />
                <span asp-validation-for="CommentText" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.FirstName" />
                <input type="hidden" asp-for="@Model.LastName" />
                <input type="submit" value="Add Comment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}