@page
@model RegisterModel
@{
    ViewData["Title"] = "Register for Student Span";
}

<h1>@ViewData["Title"]</h1>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @@media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="row">
            <div class="column">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label style="font-size:175%" asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="font-size:175%" asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="font-size:175%" asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-d-danger"></span>
                </div>
                <div class="form-group">
                    <label style="font-size:175%" asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-d-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
            <div class="column">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label style="font-size:175%" asp-for="Input.CompanyName"></label>
                    <input asp-for="Input.CompanyName" class="form-control" />
                    <span asp-validation-for="Input.CompanyName" class="text-d-danger"></span>
                </div>
                <div class="form-group">
                    <label style="font-size:175%" asp-for="Input.Title"></label>
                    <input asp-for="Input.Title" class="form-control" />
                    <span asp-validation-for="Input.Title" class="text-d-danger"></span>
                </div>
                <div class="form-group">
                    <label style="font-size:175%" asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label style="font-size:175%" asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
