@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["FirstName"] = (Model != null) ? Model.FirstName : "";
    ViewData["LastName"] = (Model != null) ? Model.LastName : "User";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
